/* CSS Document */
/*页面底部版权区域*/
#footer{
    width: 100%;
    padding: 30px 10px;
    color: #000;
    font-size: 14px;
    text-align: center;
    background: rgba(0,0,0,0.2);
/*    background: url("../images/a.png") no-repeat top;*/
}

#footer a{
    color: #fff;
}