/* CSS Document */
/*页面菜单区域*/
#menubar{                /*菜单容器*/
    width:100%;
    height: 60px;
    margin-top: 2px;
}

#site_title_img{
    float: left;
    width: 80px;
    margin-top: 1px;
    margin-left: 5px;
}

#site_title_img h1{
    margin: 0;
    padding: 0;
}

#site_title_img h1 a{              /*h1标题中超链接的样式*/
    display: block;            /*块级元素*/
    width: 100px;
    height: 60px;
    padding-top: 30px;
    font-size: 12px;
    letter-spacing: 4px;
    color: #2f2f2f;
    text-align: left;
    background: url("../images/a.png") no-repeat top left;
}

#site_title{
    float: left;
    width: 80px;
    margin-top: 1px;
    margin-left: 5px;
}

#site_title h2{
    color: #2912A4;
    font-weight: 100;
    margin-left: 0;
    margin-bottom: 1px;
}

.ddshadow{                    /*设置菜单的阴影效果*/
    position: absolute;       /*绝对定位*/ 
    left: 0;
    top:0;
    width: 0;
    height: 0;
}

#search{                      /*菜单容器右侧搜索表单容器的样式*/  
    float: right;
    width: 350px;
    margin-top: 25px;
    margin-right: 440px
}
